@import "../../styles/colors";

.product-card-wrapper {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  .product-img {
    grid-column: 1 / span 2;
    .img {
      width: 180px;
      height: 180px;
      border-radius: 4px;
    }
  }
  .product-detail {
    grid-column: 3 / span 6;
    color: $black;
    padding-left: 16px;
    .product-description {
      margin-bottom: 32px;
      font-size: 24px;
      .img-free-shipping {
        margin-left: 12px;
      }
    }
    .link-text {
      color: black;
      text-decoration: none;
      .product-title {
        font-size: 18px;
        font-weight: bold;
        display: block;
      }
    }
  }
  .product-address {
    font-size: 12px;
  }
}
